<div id="restaurant_info">
  <h1 class="display-1"><%= @restaurant.name %></h1>
  <h3><%= @restaurant.address %></h1>
  <h4><%= icon("fas", "phone", @restaurant.phone_number) %></h4>
</div>
<div id="reviews">
  
  <% @reviews.each do |review| %>
    <div class="p-3 my-3 card d-flex">
      <%= content_tag :p, review.content %>
      <%= content_tag :p, review.rating == 0 ? icon("fas", "poop") : icon("fas", "star") * review.rating %>
    </div>
  <% end %>
</div>
<%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-dark" %>
